*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
html, body {
    height: 100vh;
    width: 100vw;
}
/* global */
.section-p1{
    padding: 100px 50px;
}
.normal{
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px 20px;
}
#container{
    height: 100%;
    width: 100%;
    display: flex;
}
header {
    height: 100%;
    width: 7%;
    background-color: rgb(103, 103, 255);
    border-radius: 5px;
    position: fixed;
    z-index: 2;
}
#fake_header{
    height: 100%;
    width: 7%;
}
#logo{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;;
}
#logo a img {
    border-radius: 5px;
}
#bar {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div img{
    width: 50px;
    height: 50px;
}
#bar img {
    width: 30px;
    height: 30px;
    transition: transform 1s ease;
    transform-origin: center;
}
#bar img:hover {
    transform: rotate(90deg);
}
#popup_page{
    width: 40%;
    height: 100%;
    background-color: rgba(105, 105, 255, 0.833);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
#input{
    width: 70%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input img {
    height: 20px;
    margin-left: 7px;
}
#about_us{
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}
#about_us ul li {
    font-size: 0.7rem;
}
#about_us ul h2 {
    font-size: 1rem;
}
#contact{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
#contact a{
    cursor: pointer;
}
#input div{
    width: 80%;
}
#input div input {
    border: none;
    border-bottom: 2px solid black;
    height: 30px;
    width: 100%;
    background-color: transparent;
}
#input div input:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
#input div input::placeholder{
    color: white;
    font-size: 1rem;
}
#input img{
    cursor: pointer;
}
.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  position: absolute;
  width: 230px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}
.suggestionsList li {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 8px 10px;
    cursor: pointer;
}
.suggestion-img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    object-fit: cover;
}
.suggestionsList li:hover {
  background-color: #eee;
}
/* Page1 */
#pages_container{
    width: 93%;
    height: 100%;
    overflow-y: scroll;
    background-image: url(pics/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.page{
   height: 85%;
   width: 100%;
   background-color: transparent;
}
.header{
    height: 15%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 2;
    padding: 20px 50px;
}
.links{
    display: flex;
    width: 60%;
    right: 90px;
    position: absolute;
}
.links #close{
    display: none;
}
.fake_header2{
    height: 15%;
    width: 100%;
}
.header a {
    display: inline-block;
    margin-right: 5%;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
    position:relative;
}

.header a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    border-radius: 2px;
    bottom: -4px;
    left: 0;
    background: #ff6347; /* underline color */
    transition: width 0.3s ease;
    transition: 0.2s ease;
}
.header #activeted::after,
.header a:hover::after {
    width: 80%; /* fills the whole text width on hover */
}

#des {
    padding-top: 150px;
    padding-left: 130px;
} 
#des h4{
    margin-bottom: 10px;
}
#des h2{
    margin-bottom: 10px;
}
#des h1{
    margin-bottom: 10px;
}
#des p{
    margin-bottom: 20px;
}
#des button{
    border: none;
    cursor: pointer;
    background-color: hsla(240, 100%, 70%, 0.76);
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    padding: 10px 20px;
    font-style: italic;
}
#sanple {
    text-align: center;
}
#sanple h2{
    font-size: 2rem;
}
.pro_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    width: 100%;
    margin-top: 30px;
}
.pro{
    height: 95%;
    width: 18%;
    background-color: hsla(0, 0%, 0%, 0.75);
    border-radius: 15px;
    padding: 15px 20px;
    transition: .2s ease;
    position: relative;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
}
.pro img {
    height: 70%;
    width: 100%;
    border-radius: 13px;
}
.pro .des{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pro .des span {
    font-size: .5rem;
    padding-bottom: 5px;
}
.pro .des h5 {
    font-size: .75rem;
    height: 25px;
    /* padding-bottom: 5px; */
}
.pro .des i{
    font-size: .5rem;
    color: gold;
    padding-bottom: 5px;
}
.pro .des h4 {
    font-size: .65rem;
}
.pro .cart{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 40px;
  color: black;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.pro:hover {
    transform: scale(1.05);
}
.fade_out_left {
    opacity: 0;
    transform: translateX(-20px);
}
.fade_out_right {
    opacity: 0;
    transform: translateX(20px);
}
.left, .right {
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.671);
    border: none;
    outline: none;
    padding: 0px 10px;
    text-align: center;
}
#banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
}
#v_banner{
    position: relative;
    height: 100%;
    width: 30%;
    overflow: hidden;
}
#v_banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
}

.overlay-content {
  position: relative;
  z-index: 10;
  text-align: left;
  padding-top: 70%;
  padding-left: 20px;
}
.overlay-content h1{
    font-size: 2rem;
    color: hsla(0, 0%, 0%, 0.831);
}
.overlay-content h5{
    font-size: .8rem;
    color: crimson;
}
#sub_container{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#sub_container .pic_banner{
    height: 45%;
    width: 400px;
    background-image: url('pics/banner/hb1.jpg');
    background-position: center;
    background-size: cover;
    padding: 10px;
}
#sub_container .pic_banner h4{
    padding-top: 20px;
    font-size: 1rem;
    padding-bottom: 5px;
}
#sub_container .pic_banner h2{
    font-size: 1.5rem;
    padding-bottom: 5px;
}
#sub_container .pic_banner span{
    font-size: 0.9rem;
    padding-bottom: 5px;
}
#sub_container .pic_banner button{
    font-size: .8rem;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 10px;
}
#sub_container .b2{
    background-image: url('pics/banner/hb2.jpg');
}
#sub_container .pic_banner:hover button{
    background-color: hsla(0, 0%, 0%, 0.5);
}
#banner3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 30px;
}
#banner3 .banner_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    width: 25vw;
    background-image: url('pics/banner/b1.jpg');
    background-position: center;
    background-size: cover;
}
#banner3 .banner_box h3{
    color: #ccc;
}
#banner3 .banner_box h3 span{
    color: rgb(48, 245, 48);
}
#banner3 .b2{
    background-image: url('pics/banner/b2.jpg');
}
#banner3 .b3{
    background-image: url('pics/banner/b3.jpg');
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url('pics/banner/sb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 50px;
  margin-top: 50px;
}
#newsletter h4{
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
#newsletter p {
  font-size: .9rem;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span{
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: .9rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
#newsletter button {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
    padding: 11px 18px;
    border-radius: 4px;
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot-panel-1{
    width: 100%;
    padding: 25px 0;
    background-color: black;
    text-align: center;
}
.foot-panel-2{
    width: 100%;
    background-color: rgb(59, 46, 46);
    text-align: center;
    height: 80%;
}
.foot-panel-2 h5{
    height: 7%;
    padding: 30px 0;
}
#ul_dev{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 70%;
}
#ul_dev ul{
    text-align: left;
}
#ul_dev ul span u{
    color: crimson;
    font-family: serif;
    font-weight: bold;
}
#ul_dev ul li{
    cursor: pointer;
}
#ul_dev ul li a{
    text-decoration: none;
}
.foot-panel-2 #about_us {
    width: 100%;
    height: 17%;
    background-color: rgb(31, 26, 26);
    display: flex;
    justify-content: center;
}
.foot-panel-2 #about_us a img{
    border-radius: 5px;
    box-shadow: 5px 2px 21px silver;
    width: 70px;
}
.foot-panel-2 #about_us span{
    font-weight: bold;
    font-style: italic;
    font-size: .9rem;
}
.foot-panel-3{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
}
.mobile_header, #mobile_mnu{
    display: none;
}
/* result Page */
.re_main{
    height: 100vh;
    width: 100vw;
    background-image: url('pics/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
.re_main .header2{
    height: 12%;
    width: 100%;
    background-color: hsla(0, 100%, 50%, 0.518);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.re_main .fake_header3 {
    height: 12%;
    width: 100%;
}
.re_main .header2 img{
    height: 100%;
    max-height: 250px;
}
.re_main .header2 h2{
    padding: 0 10px;
}
.result_site{
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-evenly;
    height: 81%;
    width: 100%;
    padding: 0 30px;
}
.result_site .pro{
    height: 65%;
    width: 19%;
}
.result_site .pro img{
    height: 75%;
}
.result_site .pro h5{
    height: auto;
    padding-bottom: 2px;
}
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.pagination-controls button {
    padding: 5px 12px;
    border: 1px solid #aaa;
    background-color: hsl(0, 100%, 50%,0.6);
    cursor: pointer;
}

.pagination-controls button.active {
    background: #007bff;
    color: white;
    font-weight: bold;
}
/* single Product */
#sp_main{
    height: 100%;
    width: 100%;
    background-image: url('pics/bg.jpg');
    overflow-y: scroll;
}
#sp_main .pro{
    height: 320px;
    width: 230px;
}
#prodetail{
  display: flex;
  margin-top: 20px;
  padding: 0 50px 50px 50px;
}
#prodetail .single_pro_pic{
  width: 30vw;
  height: 70vh;
  margin-right: 14px;
}
.small_pic_group{
  display: flex;
  justify-content: space-between;
}
.small_pic_col{
    height: 10%;
  flex-basis: 24%;
  cursor: pointer;
}
.small_pic{
    height: 100px;
}
#prodetail .single_pro_detail{
  width: 50%;
  padding-top: 30px;
}
#prodetail .single_pro_detail h4{
  padding: 40px 0 20px 0;
}
#prodetail .single_pro_detail h2{
  font-size: 2rem;
}
#prodetail .single_pro_detail select{
  display: block;
  padding: 5px 10px;
  margin-top: 10px;
  color: #aaa;
}
#prodetail .single_pro_detail select option{
    color: #aaa;
}
#prodetail .single_pro_detail input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 1rem;
  margin-right: 10px;
  color: #aaa;
}
#prodetail .single_pro_detail input:focus,
#prodetail .single_pro_detail select:focus{
  outline: none;
}
#prodetail .single_pro_detail button{
  background-color: #088178;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
}
#prodetail .single_pro_detail span{
  line-height: 25px;
}
/* about page */
#abt_main{
    width: 100%;
    height: 100%;
    background-image: url('pics/bg.jpg');
    overflow-y: scroll;
}
#page_header{
    width: 100%;
    padding: 100px 150px;
    text-align: center;
    background-image: url('pics/banner/abt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#about_head{
  display: flex;
  align-items: center;
  padding: 50px;
}
#about_head img{
  width: 40%;
  height: auto;
}
#about_head div{
  padding-left: 40px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
}
#feature .fe_box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  background-color: white;
} 

#feature .fe_box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe_box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe_box h6{
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  display: inline-block;
}
#feature .fe_box:nth-child(2) h6{
  background-color: #cdebbc;
}
#feature .fe_box:nth-child(3) h6{
  background-color: #d1e8f2;
}
#feature .fe_box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe_box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe_box:nth-child(6) h6{
  background-color: #fff2e5;
}
/* Cart Page */
#cart_main{
  height: 100%;
  width: 100%;
  background-image: url('pics/bg.jpg');
  overflow-y: scroll;
}
#page_header.cart_header{
    background-image: url('pics/banner/cart.jpg');
}
#cart{
  overflow-x: auto;
}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img{
  width: 70px;
}
#cart table tr td:nth-child(1){ 
  width: 100px;
  text-align: center;
}
#cart table tr td:nth-child(2){ 
  width: 150px;
  text-align: center;
}
#cart table tr td img{
    width: 70px;
    height: 70px;
}
#cart table tr td:nth-child(3){ 
  width: 250px;
  text-align: center;
}
#cart table tr td:nth-child(4),
#cart table tr td:nth-child(5),
#cart table tr td:nth-child(6){ 
  width: 150px;
  text-align: center;
}
#cart table tr td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
  color: #818ea0;
  outline: none;
}
#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead tr td{
  font-family: serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart_add{
  display: flex;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 12px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon input:focus{
   outline: none; 
}
#coupon button,
#subtotal button{
  color: white;
  background-color: rgb(86, 86, 255);
  padding: 12px 20px;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 10px 15px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
/* blog page */
#blog_main{
    width: 100%;
    height: 100%;
    background-image: url('pics/bg.jpg');
    overflow-y: scroll;
}
#page_header.blog_header{
  background-image: url('pics/banner/contact1.jpg');
}
#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog_box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog_pic{
  width: 50%;
  margin-right: 40px;
  z-index: 1;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog_details{
  width: 50%;
}
#blog .blog_details h4{
    color: rgb(76, 76, 254)
}
#blog .blog_details a{
  text-decoration: none;
  font-size: 11px;
  color: rgb(46, 239, 175);
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}
#blog .blog_details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgb(46, 239, 175);;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog_details a:hover{
  color: #088178;
}
#blog .blog_details a:hover::after{
  background-color: #088178;
}
#blog .blog_box h1{
  position: absolute;
  top: -70px;
  left: 0;
  font-size: 5rem;
  font-weight: 700;
  color: #c9cbce;
}
#pagination{
  text-align: center;

}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}
/* Contact Us Page */
#c_main{
    width: 100%;
    height: 100%;
    background-image: url('pics/bg.jpg');
    overflow-y: scroll;
}
#page_header.c_header {
    background-image: url('pics/banner/contact.jpg');
}
#contact_detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact_detail .detail{
  width: 40%;
}
#contact_detail .detail span,
#form_detail form span{
  font-size: .9rem;
}
#contact_detail .detail h2,
#form_detail form h2{
  font-size: 1.2rem;
  line-height: 35px;
  padding: 20px 0;
  color:#aaa;
}
#contact_detail .detail h3{
  font-size: 1rem;
  padding-bottom: 15px;
  color:#aaa;
}
#contact_detail .detail li{
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact_detail .detail li i{
  font-size: 1rem;
  padding-right: 22px;
}
#contact_detail .detail li p{
  margin: 0;
  font-size: 14px;
}
#contact_detail .map{
  width: 55%;
  height: 400px;
}
#contact_detail .map iframe{
  width: 100%;
  height: 100%;
}
#form_detail{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e2e9e1;
}
#form_detail form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form_detail form input,
#form_detail form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e2e9e1;
}
#form_detail form button{
  background-color: #088178;
  color: white;
}
#form_detail .peepal div{
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form_detail .peepal div img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
#form_detail .peepal div p{
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form_detail .peepal div span{
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

/* Mobile styling */
@media (max-width: 768px) {

    #pages_container,
    #c_main,#blog_main,
    #cart_main,#abt_main,
    #sp_main,.re_main{
        background-image: url('pics/mo-bg.jpg');
    }
    #pages_container{
        width: 100%;
    }
    #pages_container #header{
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }
    .links{
        flex-direction: column;
        background-color: white;
        width: 150px;
        height: 100vh;
        right: -150px;
        top: 0;
        position: fixed;
        z-index: 21;
        padding: 60px 50px 10px 10px;
        display: flex;
        transition: 2s;
    }
    .links #close{
        position: absolute;
        display: block;
        font-size: 1.5rem;
        top: 10px;
        right: 7px;
        margin-bottom: 40px;
    }
    .links #close i{
        color: black;
    }
    .links a {
        top: 10px;
        color: black;
        margin: 0;
        margin-bottom: 20px;
    }
    .mobile_header{
        height: 50%;
        width: 80%;
        display: flex;
    }
    .header {
        padding: 10px 10px;
        justify-content: space-between;
    }
    .mobile_header img{
        height: 50px;
        border-radius: 5px;
        margin-right: 5px;
    }
    .mobile_header div {
        width: 70%;
        margin-right: 5px;
    }
    .mobile_header div input{
        width: 100%;
        border: none;
        outline: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        padding: 15px 0;
    }
    .mobile_header #search{
        height: 90%;
        width: 30px;
        margin-left: 2px;
    }
    #mobile_mnu{
        display: block;
        height: 30%;
        width: 10%;
    }
    #mobile_mnu img{
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .pro_container{
        flex-wrap: wrap;
    }
    .pro{
        display: flex;
        flex-direction: column;
        width: 70%;
        max-width: 450px;
        margin-top: 10px;
    }
    .pro .des span,.pro .des h4,.pro .des i{
        font-size: 1rem;
    }
    .pro .des h5{
        font-size: 1.4rem;
        height: auto;
    }
    #banner {
        padding: 30px 10px;
    }
    #v_banner{
        height: 90%;
        width: 40%;
    }
    #sub_container{
        justify-content: space-evenly;
        width: 50vw;
    }
    #sub_container .pic_banner {
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #page1 #des {
        padding-top: 25vh;
        padding-left: 10vw;
        
    }
    #banner3{
        flex-wrap: wrap;
    }
    #banner3 .banner_box {
        max-height: 20vh;
        width: 70%;
        max-height: 200px;
        max-width: 350px;
        margin-top: 10px;
    }
    #newsletter{
        width: 100vw;
        padding: 40px 50px;  
    }
    #newsletter .form {
        margin-top: 10px;
        width: 60%;
    }
    .foot-panel-1 {
        font-size: 2rem;
    }
    .foot-panel-2{
        height: 100%;
    } 
    .foot-panel-2 h5{
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: bold;
        height: 17%;
    }
    .foot-panel-2 #ul_dev {
        height: 70%;
        font-size: 1.1rem;
    }
    .foot-panel-2 #about_us{
        bottom: 0;
    }
    /* search result page or shop now page */
    .result_site{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .result_site .pro{
        width: 100%;
        height: 70%;
        max-width: 450px;
        padding: 15px 20px;
    }
    .result_site .pro img{
        height: 75%;
    }
    .result_site .pro h5{
        height: auto;
        padding-bottom: 2px;
    }
    .re_main .header h2{
        font-size: 2rem;
    }
    .re_main .header img{
        max-width: 70px;
        max-height: 70px;
    }
    header,#fake_header,#popup_page,.mo_deactive{
        display: none;
    }
    /* single product */
    #prodetail {
        display: flex;
        flex-direction: column;
    }
    #prodetail .single_pro_pic{
        width: 100%;
        margin-right: 0;
    }
    #prodetail .single_pro_detail{
        width: 100%;
    } 
    /* contact page */
    #form_detail{
        padding: 40px;
    }
    #form_detail form {
        width: 50%;
    }
}
@media (max-width: 500px) {
    #page_header{
        padding: 50px 10px;
    }
    #about_head {
        flex-direction: column;
    }
    #about_head img {
        width: 100%;
    }
    #about_head div {
        padding-left: 0px;
        padding-top: 20px;
    }
    .foot-panel-1{
        padding: 10px auto;
        font-size: 1rem;
        height: auto;
    }
    .foot-panel-2{
        height: 100%;
    }
    .foot-panel-2 h5{
        font-size: .8rem;
    }
    .foot-panel-2 #ul_dev {
        height: 70%;
        font-size: 1rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-left: 155px;
    }
    #newsletter{
        width: 100vw;
        padding: 40px 20px;  
    }
    #newsletter .form {
        margin-top: 10px;
        width: 100%;
    }
    #v_banner{
        display: none;
    }
    #sub_container{
        width: 70vw;
        max-width: 600px;
    }
    #sub_container .pic_banner {
        height: 30vh;
        width: 80vw;
    }
    #banner3 .banner_box {
        width: 75vw;
    }
    #cart_add{
        flex-direction: column;
    }
    #coupon{
        width: 100%;
    }
    #subtotal{
        width: 100%;
        padding: 20px;
    }
    /* contact page */
    #contact_detail {
        flex-direction: column;
    }
    #contact_detail .detail {
        width: 100%;
        margin-bottom: 13px;
    }
    #contact_detail .map {
        width: 100%;
    }
    #form_detail {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form_detail form {
        width: 100%;
        margin-bottom: 13px;
    }
    /* blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog_pic {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #blog .blog_details {
        width: 100%;
    }
}